h1{
    text-align:center;
    color:darkred;
}
p{
    font-size:25px;
    text-align:center;
}
.img{
    text-align:center;
}
img{
    width:30%;
}
.link{
    text-align:center;
}
a{
    color:darkslategray;
    font-size:20px;
}